*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: #f1f1f1;
    border-bottom: 1px solid #666;
    border-color: #e5e5e5;
}
.google-logo{
    float: left;
    width: 167px;
}
.google-logo{
    margin: 20px;
}
#logo{
    display: block;
    height: 37px;
    overflow: hidden;
    position: relative;
    width: 114px;
    padding-left: 13px;
    padding-right: 12px;
}
.google-search{
    float: left;
    margin-top: 20px;
}
#input{
    padding: 10px;
    width: 400px;
    font-size: 16px;
    border: 1px solid #e5e5e5;
}
.clear{
    clear:both;
}
.search-block{
    margin-left: 210px;
    width: 800px;
}
.g{
    margin: 20px 0;
}
.g h3{
    display: block;
    font-size: 18px;
}
.g h3 a{
    text-decoration: none;
    color: #1a0dab;
    font-family: arial, sans-serif;
    line-height: 21px;
}
.desc{
    color: #545454;
    font-size: 13px;
    font-family: arial, sans-serif;
    line-height: 19px;
    text-align: left;
}
.link{
    color: #006621;
    font-size: 14px;
    font-family: arial, sans-serif;
}
.button-search{
    float: left;
}
.button-search-field{
    float: left;
}
#search{
    background-color: #4285f4;
    height: 40px;
    border: none;
    width: 40px;
}