<footer class="main__footer">
    <div class="wrapp">
        <div class="footer__block">
            <div class="footer__item">
                <h3>Socials</h3>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Flick</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Vimeo</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h3>Links</h3>
                <ul>
                    <li><a href="">How to Write a Blog</a></li>
                    <li><a href="">Create a Blog in 4 Steps</a></li>
                    <li><a href="">15 Tips to Increase Traffic</a></li>
                    <li><a href="">20 Blog Post Ideas</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h3>BlogRoll</h3>
                <ul>
                    <li><a href="">Blogs Blog</a></li>
                    <li><a href="">Roll Up Roll Up</a></li>
                    <li><a href="">Blog Free</a></li>
                    <li><a href="">Wordpress Blog</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h3>About Us</h3>
                <ul>
                    <li><a href="">Agriculture</a></li>
                    <li><a href="">Harvest</a></li>
                    <li><a href="">Company news</a></li>
                    <li><a href="">Investor relations</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</footer>
<footer class="after__footer">
    <div class="wrapp">
        <div class="footer__inf">
            <p>
                <span class="loc">BuildHomeLtd.  Street Name 123   23 45 Cityname</span>
                <span class="tel">+123 900 123 456</span>
                <span class="mail">info@buildhome.web</span>
            </p>
        </div>
        <div class="footer__copy">
            <p>&copy 2014 Build Home</p>
        </div>
        <div class="clear"></div>
    </div>

</footer>