<header>
    <div class="wrapp">
        <div class="header__logo">
            <a href="/"><img src="img/logo.png" alt="лого"/></a>
        </div>
        <div class="header__links">
            <ul>
                <li><a class="facebook" href="http:\\facebook.com"></a></li>
                <li><a class="twitter" href=""></a></li>
                <li><a class="rss" href=""></a></li>
                <li><a class="linkedn" href=""></a></li>
                <li><a class="skype" href=""></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</header>
<div class="wrapp">
    <nav class="header__nav">
        <ul class="header__menu">
            <li class="header__menu-item">
                <a class="active header__menu-link" href="">home</a>
            </li>
            <li class="header__menu-item">
                <a class="header__menu-link" href="">features</a>
            </li>
            <li class="header__menu-item">
                <a class="header__menu-link" href="">services</a>
            </li>
            <li class="header__menu-item">
                <a class="header__menu-link" href="">news</a>
            </li>
            <li class="header__menu-item">
                <a class="header__menu-link" href="">shop</a>
            </li>
        </ul>
        <div class="header__search">
            <input class="search-field" placeholder="Search..." type="search"/>
            <input class="loop" value="" type="submit"/>
        </div>
        <div class="clear"></div>
    </nav>
</div>



