$fontMontserrat-Bold:'Montserrat-Bold', sans-serif;
$fontMontserrat-Regular:'Montserrat-Regular', sans-serif;
$fontRoboto-Light:'Roboto-Light', sans-serif;



$font-Ubuntu-Medium:'Ubuntu', sans-serif;
$Arial: Arial, helvetica;

$color-White:#fff;
$color-Black:#000;
$main-color:#2a2d32;
$color-Blue:#248cec;

$link-hover:#f4b60d;
$eightteen:18px;