<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <title>Домашнее задание №11-12 Задание 2</title>
</head>
<body>
<script type="text/template" id="list-template">
    <div class="container">
        <div class="wrapp">
            <div class="block">
                <div class="block-wrapp">
                    <h1><%= name  %></h1>
                    <img src="<%= imgSrc %>" alt="Моя физиономия"/>
                    <p><%= work  %></p>
                </div>
            </div>
            <div class="block">
                <h3><%= goal %></h3>
                <ul>
                    <%for (var i=0;i < reason.length; i++){ %>
                    <li><%= reason[i] %></li>
                    <%}%>
                </ul>
            </div>
            <div class="block">
                <h3><%= telTitle %></h3>
                <p><%= tel %></p>
                <h3><%= vkTitle %></h3>
                <a target="_blank" href="https://vk.com/<%= vkId %>">vk.com</a>
            </div>
            <div class="block-footer">
                <h3><%= feedback %></h3>
                <p><%= feedbackText %>
                </p>
            </div>
        </div>
    </div>
</script>
<script>
    var tmpl = _.template(document.getElementById('list-template').innerHTML);
    var result = tmpl({
        name:'Мовчан Роман Владимирович',
        imgSrc:'img/myface.jpg',
        work:'без определенного места работы',
        goal: 'Хочу учить фронтенд, потому что:',
        reason:[
            'Работаю за еду',
            'Сплю мало',
            'Хочу вместо дешевого пива пить дорогой виски'
        ],
        telTitle:'Мой контактный телефон',
        tel:'0956264409',
        vkTitle:'Мой профиль в ВК',
        vkId:'id5386943',
        feedback:'Мой фидбек',
        feedbackText:'Спасибо за то что взяли меня на программу GoIt, ' +
        'для меня это реальная возможность научиться чему-то новому, ' +
        'заниматься прибыльной и интересной работой ' +
        'О себе. Живу в Красном Лимане, занимаюсь спортом, учу программирование Готов выкладываться на полную катушку, чтобы выучиться'
    });
    document.write( result );
</script>

</body>
</html>

