<footer class="main__footer">
    <div class="footer">
        <div class="footer-wrapp wrapper">
            <div class="footer__logo">
                <a href="/">URLAUBSGLÜCK</a>
            </div>
            <div class="footer__menu">
                <p>Company</p>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer__menu">
                <p>Partners</p>
               
            </div>
            <div class="footer__dev">
                <a href=""><img src="img/dev-logo.png" alt=""></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>